@keyframes scaleAnimation {
  0% {
    transform: scale(1.0);

  }
  50% {
    transform: scale(1.2);
  }
}



li {
	list-style: none;
}

hr {
  margin: 30px auto;
  width: 50px;
  border: none;
  background-color: #ff6f00;
  color: #ff6f00;
  height: 2px;

  margin-bottom: 50px;
}

/*Navigation*/

	.header__nav {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

	}

		.header__nav__item {
			margin: 0 1em 0 1em;
			text-decoration-color: #6d4c41;
			
		}

		.header__nav__item:hover {
			transition: all 0.5s;
			opacity: 1;
			text-decoration: underline;
			text-decoration-color: #ff6f00;
		}


/*Main Banner*/
	.main__banner {
		/*padding-bottom: 10px;*/
		text-align: center;
	}
		.main__banner h2 {

			padding-bottom: 10px;
		}



/*Services */
	.main__services {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.blue-grey {
		flex-basis: 30%;
		position: relative;
	}
	.card-action {
		display: none;

	}

	.card:hover {
		animation: scaleAnimation 1s 1; 
	}



/*Portfolio*/
	.main__portfolio {
		background: #f8f8f8;
		margin-top: 100px;
	}

	.main__portfolio h3 {
		padding-top: 50px;
		text-align: center;
	}

	.main__portfolio__gallery {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 70px;
	}

	.main__portfolio__gallery .card {
		flex-basis: 30%;

	}


	/*Contacts*/
	.main__contacts {

	}

	.main__contacts h3 {
		padding-top: 60px;
		text-align: center;
	}

	.main__contacts__content {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 100%;
	}

		.main__contacts__right {
			text-align: right;
			flex-basis: 45%;

		}

			.contacts__img {
				width: 100%;
				border-radius: 5px;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
			}

			.main__contacts__right p {
				text-align: justify;

			}

		.main__contacts__left {
			flex-basis: 45%;
			display: flex;
			flex-direction: row;
		}
			
			.form__item {
				padding-bottom: 25px;
			}

			.form__item::placeholder {
				font-size: 1.2em;
				color: #555555;
			}
			.form__item::-moz-placeholder {
				font-size: 1.2em;
				color: #555555;
			}		

			
			.form__button {
				margin-top: 20px;
				/*height: 3em;*/
				font-size: 1.3em;

			}
			

/*Footer*/	

	footer {
		margin-top: 5em;
	}
	
	.contacts__social__icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		/*text-align: left;*/
	}

	.contacts__social__item {
		font-size: 2.3em;
		margin: 0 20px 0 20px;
}			
	.contacts__social__icons a {
		transition: all 0.5s;
		color: inherit;
	}

	.contacts__social__item:hover {
		transition: all 0.5s;
		color: #ff6f00;
	}
	.footer__title {
		display: none;

	}


@media screen and (max-width: 768px) {
	
	
	.contacts__social__icons {
		justify-content: center;

	}
	.footer__title {
		display: none;
		text-align: center;
	}
	.main__contacts__content {
		flex-direction: column;
		align-items: center;
		
	}

		.main__contacts__left {
			/*flex-basis: 100%;*/
			width: 100%;
			margin: 0 auto;
			justify-content: center;
			margin-bottom: 100px;

		}
		button {
			margin: 0 auto;
			align-content: center;
			width: 100%;
		}

	.main__portfolio__gallery {
		/*flex-direction: column;*/
		display: block;


	}
	.main__portfolio__card {
		margin-bottom: 2.4em;
		/*padding-bottom: 100px;*/

	}
	.portfolio__card__content {
		/*display: none;*/
	}

	/*Services */

	.card-content span {
		text-align: center;
	}

	.main__services {
		flex-direction: column;
	}

	/*Banenr*/

	.main__banner h2 {
		font-size: 2em;
	}

	header h4 {
		text-align: center;		
		color: #555555;
	}
}